@model TicaretMVC.Models.ProductsWithStore
@{
    ViewData["Title"] = "NewUser";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<br />
<html>
<head>
    <link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <style>
        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #84C639;
            color: white;
            padding: 8px 18px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            /*width: 15%;*/
        }

        button:hover {
            opacity: 0.8;
        }

        .cancelbtn {
            width: auto;
            padding: 8px 18px;
            background-color: red;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 4px;
            width: auto;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
</html>
<form asp-controller="Products" asp-action="NewProduct" method="post" enctype="multipart/form-data">
    <div>
        <b><label for="Name">Ürün Adı:</label></b>
        <input type="text" id="Name" name="Name" style="border: 2px solid grey"><br><br>

        <b><label for="Quantity">Ürün Miktarı:</label></b>
        <input type="text" id="Quantity" name="Quantity" style="border: 2px solid grey"><br><br>

        <b><label for="Price">Ürün Fiyatı:</label></b>
        <input type="text" id="Price" name="Price" style="border: 2px solid grey"><br><br>

        @*<b><label for="ImageUrl">ImageUrl:</label></b>
            <input type="text" id="ImageUrl" name="ImageUrl"><br><br>*@

        <b><label>Ürün Fotoğrafı:</label></b>
        <div class="custom-file" style="border: 2px solid grey">
            <input class="form-control custom-file-input" type="file" name="file" />
            <label class="custom-file-label">Seçiniz</label>
        </div>
        <br/>
        <br/>

        <b><label for="Description">Ürün Açıklaması:</label></b>
        <input type="text" id="Description" name="Description" style="border: 2px solid grey"><br><br>

        @*<label for="role">Kullanıcı Rolü:</label>
            <select name="deneme2" id="dropdown2">
                @foreach (var item in ViewBag.deger2)
                {
                    <option value="@item.role">@item.role</option>
                }
            </select>
            <br />*@
        @*<input type="text" id="role" name="role"><br><br>*@
        @*<button id="buton1">Buton1</button>*@

        <b><label for="store">Mağaza Adı:</label></b>
        <select name="groupid" id="groupid" style="border: 2px solid grey">
            @foreach (var item in ViewBag.deger)
            {
                <option value="@item.groupid">@item.groupname</option>
            }
        </select>
        <br />

        <b><button class="btn btn-info" id="buttonn">Ürün Ekle</button></b>
        <b><a href="/Products/BackPage" class="btn btn-danger">Geri</a></b>
    </div>
</form>
@*<script>
        $(document).ready(function () {
            //$("#dropdown").select2();
            $("#buttonn").click(function () {
                debugger;
                var Name = $('#Name').val();
                var Quantity = $('#Quantity').val();
                var Price = $('#Price').val();
                var ImageUrl = $('#ImageUrl').val();
                var Description = $('#Description').val();
                var dropvalue = $('#dropdown :selected').val();
/*                var dropvalue2 = $('#dropdown2 :selected').val();*/
                $.ajax({
                    type: 'POST',
                    url: '/Products/NewProduct',
                    data: { groupid: dropvalue, Name:Name,Quantity:Quantity,Price:Price,ImageUrl:ImageUrl,Description:Description },
                    /*data: '{groupid:' + dropvalue + ' }',*/
                    success: function (data) {
                        debugger
                        console.log('olduuuu')
                        window.location.href = '@Url.Action("GetAllProduct","Products")'
                    },
                    error: function (data) {
                        debugger
                        console.log('')
                    }
                });
            });
        });
</script>*@




